* {
    margin: 0px;
    padding: 0px;
}

#page {
    margin: 0px;
    padding: 20px 0px;
    width:100vw;
    height: 100vh;
    background-color: #121214;
    color: white
}

#title {
    text-align: center;
    margin: 20px 0px
}

#container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    #clear {
        width: 100px;
    }
}

#calc {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #202024;
    color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    width: 240px;
}

#screen {
    position: relative;
    background-color: #5E482F;
    border-radius: 8px;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

#display {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    font-size: 1.2rem;
    color: #7c7c8a;
    padding: 10px
}

#result {
    position: absolute;
    bottom: 0;
    right: 3%;
    height: 60px;
    justify-content: right;
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
}


#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 colunas iguais */
    gap: 8px;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    

    button {
        color: white;
        background-color: #29292e;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 15px;
        height: 60px;
        transition: filter 0.2s;
    }

    button:hover {
        filter: brightness(1.2)
    }

    #clear {
        grid-column: span 3;
        width: 100% !important;
    }

    .operator {
        background-color: #ff9500;
    }

    .input {
        width: 100%;
    }

}